prep_file
myutils.seed.py
frontend_demo\seed.sql
.vscode/

# enviroment variables

env/
env/bin/
env/lib/
.venv/
.env


# Bytecode files

*.pyc
__pycache__/
.pytest_cache/

# Compiled static files

# static/
# staticfiles/

# Database files

db.sqlite3

# Migrations (except for the initial migration)

migrations/

# organizer images for testing 
 media/images/

# seed file trial
seed.txt
seed.sql

# IDE and editor files
.idea/
.vscode/
