{% extends "base.html" %}


{% block event-brief-content %}


<main id="main" class="main-page">

  <!--==========================
    Speaker Details Section
  ============================-->
  <section id="speakers-details" class="wow fadeIn justify-content-center">
    <div class="container">
      <div class="section-header">
        <h2>Event Details</h2>
        <p>This section aims to provide attendees and participants with all the information they need to prepare for the event, 
          whether it's to attend, participate, or engage with it in other ways..</p>
      </div>

      <div class="row">
        <div class="col-md-6 owl-carousel gallery-carousel ">
          {% if event.images.all %}
            {% for event_image in event.images.all %}
              <a href="{{event_image.image_url.url}}" class="venobox" data-gall="gallery-carousel">
                <img src="{{event_image.image_url.url}}" alt="{{event_image}}" class="img-fluid">
              </a>
            {% endfor %}
          {% endif %}
        </div>

        <div class="col-md-6">
          <div class="details">
            <h2>{{event.title}} </h2>
            <h3><span> #{{event.code}} </span></h3>
            
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
              <p><strong>Organizer:</strong> {{ event.organizer.first_name }} {{ event.organizer.last_name }}</p>
              <p><strong>Email:</strong> {{ event.contact_email }}</p>
              <p><strong>Phone:</strong> {{ event.contact_phone_number }}</p>
              
              {% if event.description %}
                <p>{{ event.description|linebreaks }}</p>
              {% else %}
                <p>No description available for this event.</p>
              {% endif %}

          </div>
        </div>
        
      </div>
    </div>

  </section>



    <!--==========================
      About Event Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          {% comment %} <div class="col-lg-6">
            <h2>About This Event</h2>
            <p>{{event.description}}</p>
          </div> {% endcomment %}
          <div class="col-lg-6">
            <h3>Where</h3>
            <p><strong>Venue:</strong> {{ event.venue }} <br> <strong>Location:</strong> {{ event.city }} </p> <!-- Event venue -->
          </div>
          <div class="col-lg-6">
            <h3>When || {{event.get_event_status}}</h3>
            <p>{{event.start_datetime|date:"l, F j, Y, g:i A"}} to <br>{{event.end_datetime|date:"l, F j, Y, g:i A"}}</p>
          </div>
        </div>
      </div>
    </section>


</main>


{% endblock %}
{% block content %}








    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Order of service</h2>
          {% if not event_templates %}
              <p>You should clone or create a template for this event. Bulletins Unavailable!!!.</p>
          {% else %}
              <p>Here is how our service is planned</p>
            </div>

            <!-- Tab Navigation (for each day) -->
            <ul class="nav nav-tabs" role="tablist">
              {% for template in event_templates %}
                <li class="nav-item">
                  <a class="nav-link {% if forloop.first %}active{% endif %}" href="#day-{{ template.id }}" role="tab" data-toggle="tab">{{ template.title }}</a>
                </li>
              {% endfor %}
            </ul>
        
            <div class="tab-content row justify-content-center">
              {% for template in event_templates %}
              <div role="tabpanel" class="col-lg-9 tab-pane fade {% if forloop.first %}show active{% endif %}" id="day-{{ template.id }}">
                
                  <h3 class="sub-heading" >{{template.description}}.</h3>
                  {% for field in template.custom_fields.all %}
                    <div class="row schedule-item">
                      <div class="col-md-2">
                        <time>{{ field.start_time }} - {{ field.end_time }}</time>
                      </div>
                      <div class="col-md-10">
                        <!-- Organizer Image if available -->
                        {% if organizer_image %}
                          <div class="speaker">
                            <img src="{{organizer_image.image_url.url }}" alt="{{template.owner.username}}">
                          </div>
                        {% endif %}
        
                        <h4>{{ field.label }}</h4>
                        <p>{{ field.content }}</p>
                      </div>
                    </div>
                  {% endfor %}
        
                </div>
              {% endfor %}
            </div>
          
          {% endif %}

    

      </div>

    </section>
    
{% endblock  %}